<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Google Maps JavaScript API ストリートビュー 視点の設定</title>
<style>
p {line-height:180%}
.head-title {width:100%;background:#87ceeb;color:#fff;text-indent:8px;font-weight:700;line-height:180%}
</style>
<script
 src="https://maps.google.com/maps/api/js?key=AIzaSyCltDmebjZinxuACLDJRGkskQsk2ZfLDiw"></script>
<script src="stview.js"></script>
</head>
<body onload="initialize()">
<div class="head-title">Google Maps APIを使ったサンプル。</div>
<p>ストリートビューを表示 視点の設定</p>
<div id="pano" style="width:100%;height:300px"></div>
</body>
</html>