.main-chat {
  width: 100vw;
  // height: calc(100vh - 60px);
  .main-header {
    // color: white;
    padding: 0 40px;
    font-size: 18px;
    .main-header__left-box {
      &__current-group {
        display: flex;
        font-size: 18px;
        color: white;
        font-weight: initial;
        padding-top: 3px;
      }
    }
  }

  .messages {
    height: calc(100vh - 60px - 25px - 70px);
    padding: 0px 40px;
    // overflow: scroll;
    overflow-x: auto;
    white-space: nowrap;
    .message {
      display: inline-block;
      -webkit-overflow-scrolling: touch;
      height: 500px;
      margin: 5px;
      font-size: 48px;
      background: rgba(247, 244, 244, 0.747);
      .upper-message {
        display: flex;
        &__user-name {
          color: #575656;
          font-size: 16px;
          font-weight: bold;
          margin-left: 5px;
        }
        &__date {
          color: #575656;
          font-size: 12px;
          margin-left: 10px;
          font-size: 16px;
        }
      }
      .lower-message {
        margin-top: 10px;
        position: relative;
        width: 300px;
        height: 400px;
        // &__content {
        //   color: #434a54;
        //   font-size: 14px;
        //   margin-bottom: 46px;
        // }
        &__image {
          position: absolute;
          top: 100px;
          bottom: 100px;
          left: 0px;
          right: 0px;
          height: auto;
          width: auto;
          max-width: 100%;
          max-height: 100%;
          margin: auto;
        }
      }
      .comment {
        font-size: 12px;
        margin-left: 5px;
        color: #999999;
        height: 95px;
        width: 300px;
        // background-color: rgba(238, 238, 237, 0.849);
        padding-bottom: 0px;
      }
    }
  }

  .form {
    height: 70px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    position: fixed;
    padding: 10px 40px;
    .new_message {
      display: flex;
      .input-box {
        position: relative;
        display: flex;
        background-color: white;
        &__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          // border-style: none;
        }
        &__image {
          position: absolute;
          font-size: 1.3rem;
          top: 10px;
          right: 10px;
          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: transparent;
        color: #38aef0; 
      }
    }
  }
}

