.main-chat {
  width: 100vw;
  // height: calc(100vh - 60px);
  .main-header {
    // color: white;
    padding: 0 40px;
    font-size: 18px;
    .main-header__left-box {
      &__current-group {
        display: flex;
        font-size: 22px;
        color: white;
        font-weight: initial;
        padding-top: 40px;
      }
    }
  }

  .messages {
    height: calc(100vh - 80px - 40px - 80px);
    padding: 10px 40px;
    // overflow: scroll;
    overflow-x: auto;
    white-space: nowrap;
    .message {
      display: inline-block;
      -webkit-overflow-scrolling: touch;
      height: 500px;
      margin: 15px;
      font-size: 48px;
      background: rgba(247, 244, 244, 0.747);
      .upper-message {
        display: flex;
        &__user-name {
          color: #575656;
          font-size: 16px;
          font-weight: bold;
          margin-left: 5px;
        }
        &__date {
          color: #575656;
          font-size: 12px;
          margin-left: 20px;
          font-size: 16px;
        }
      }
      .lower-message {
        margin-top: 10px;
        position: relative;
        width: 300px;
        height: 400px;
        // &__content {
        //   color: #434a54;
        //   font-size: 14px;
        //   margin-bottom: 46px;
        // }
        &__image {
          position: absolute;
          top: 100px;
          bottom: 100px;
          left: 0px;
          right: 0px;
          height: auto;
          width: auto;
          max-width: 100%;
          max-height: 100%;
          margin: auto;
        }
      }
      .chat-box {
        font-size: 18px;
        text-align: center;
        margin-top: 18px;
        margin-left: 110px;  
        .chat {
          height: 30px;
          width: 80px;
          a {
            font-weight: light;
            text-decoration: none;
            color: #575656
          }
        }
      }
    }
  }

  .navi {
    height: 80px;
    width: 100vw;
    background-color: rgb(22, 22, 22);
    bottom: 0;
    position: fixed;
    padding: 17px 33px;
    display: flex;
    justify-content: center;
    line-height: 45px;
    font-size: 16px;
    .navi-map {
      padding: 0px 20px;
      color: rgb(230, 228, 228);
      background-color: #575656;
      border-radius: 5px;
      a {
        text-decoration: none;
        color: rgb(230, 228, 228);
      }
    }
    .group-chat {
      padding: 0px 20px;
      color: rgb(230, 228, 228);
      margin-left: 100px;
      background-color: #575656;
      border-radius: 5px;
    }
  }

  // .form {
  //   height: 70px;
  //   width: 100vw;
  //   background-color: rgb(255, 255, 255);
  //   bottom: 0;
  //   position: fixed;
  //   padding: 10px 40px;
  //   .new_message {
  //     display: flex;
  //     .input-box {
  //       position: relative;
  //       display: flex;
  //       background-color: white;
  //       &__text {
  //         height: 50px;
  //         width: 100%;
  //         padding: 0 40px 0 10px;
  //         color: #434a54;
  //         // border-style: none;
  //       }
  //       &__image {
  //         position: absolute;
  //         font-size: 1.3rem;
  //         top: 10px;
  //         right: 10px;
  //         &__file {
  //           display: none;
  //         }
  //       }
  //     }
  //     .submit-btn {
  //       width: 100px;
  //       height: 50px;
  //       padding: 0 30px;
  //       margin-left: 15px;
  //       background-color: transparent;
  //       color: #38aef0; 
  //     }
  //   }
  // }
}

