.side-bar {
  // position: fixed;
    .side-header {
      height: 60px;
      width: 100vw;
      background-color: #222222;
      display: flex;
      align-items: center;
      padding: 0 20px;
      justify-content: space-between;
      &__app-title {
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        color: #faea8ec7;
      }
      &__box {
        height: 20px;
        width: 100px;
        display: flex;
        text-align: right;
        font-weight: 100;
        line-height: 20px;
        color: rgb(194, 193, 193);
        font-size: 16px;
        ul {
          height: 25px;
          width: 60px;
          display: flex;
          justify-content: flex-end;
          li {
            a {
              color: rgb(194, 193, 193);
              margin-left: 0.3rem;
              font-size: 16px;
            }
          }
        }
      }
    }


    .groups {
      height:25px;
      width: 100vw;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-start;
      background-color: rgba(63, 62, 62, 0.788);
      .group {
        text-decoration: none;
        &__group-name {
          color: rgb(163, 161, 161);
          font-size: 15px;
          margin-bottom: 5px;
          padding-left: 40px;
        }
      .group-edit {
        padding-right: 40px;
        text-decoration: none;
      }
    }
  }
}
